@font-face {
  font-family: os_bold;
  src: url(/assets/fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: os_reg;
  src: url(/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: os_light;
  src: url(/assets/fonts/OpenSans-Light.ttf);
}
:root {
  --color-dark: #1C2341;
  --color-white: #ffffff;
  --color-light: #394F6B;
  --color-darkest: #121B2B;
}

/* common page settings */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
@media screen and (max-width: 900px) {
  html {
    font-size: 56.25%; /* 1rem = 9px */
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: os_reg, sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-family: os_reg;
  font-size: 1.8rem;
  color: var(--color-white);
  background: var(--color-dark);
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background: var(--color-light);
}

.upper-bar {
  background-color: var(--color-dark);
}
.upper-bar-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}
.upper-bar-link {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.upper-bar-link a {
  font-size: 22px;
  color: var(--color-white);
  transition: all 0.3s ease;
}
.upper-bar-link a:hover {
  transform: translateY(-2px);
}
.upper-bar-link a:last-child {
  padding-top: 10px;
}
.upper-bar-email a {
  font-size: 20px;
  color: var(--color-white);
  transition: all 0.3s ease;
}
.upper-bar-email a:hover {
  color: var(--color-light);
}

.hero {
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__container {
  max-width: 1200px;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 810px) {
  .hero__container {
    height: 90vh;
  }
}
.hero__left-block {
  padding: 2rem 3rem;
}
.hero__left-block--profile {
  width: 220px;
  height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  padding: 1rem 1rem;
}
.hero__left-block--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__right-block {
  padding: 1rem 1rem;
}
.hero__right-block--greet {
  font-family: os_light;
  font-size: 4rem;
  color: var(--color-light);
  text-transform: capitalize;
  letter-spacing: 1rem;
}
.hero__right-block--name {
  font-family: os_bold;
  font-size: 6rem;
  color: var(--color-light);
  text-transform: capitalize;
}
.hero__btn {
  margin-top: 5rem;
}

.centeredBox h3 {
  font-family: os_light;
  font-size: 3rem;
  color: var(--color-light);
  text-transform: capitalize;
}

.skill__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
}
@media screen and (max-width: 810px) {
  .skill__container {
    margin-top: 5em;
  }
}
.skill__heading {
  font-family: os_reg;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-light);
  padding: 1rem 0;
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 460px) {
  .skill__heading {
    padding: 2rem 0;
  }
}
.skill__img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.badge__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.badge__heading {
  font-family: os_reg;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-light);
  padding: 2rem 1rem;
  letter-spacing: 0.3rem;
}
.badge__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1rem;
}

.badge-flow p {
  font-family: os_light;
  font-size: 1.4rem;
  color: var(--color-darkest);
  text-transform: capitalize;
}

.project__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.project__heading {
  font-family: os_reg;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-light);
  padding: 2rem 1rem;
  letter-spacing: 0.3rem;
}
.project__warning {
  font-family: os_bold;
  font-size: 1.2rem;
  color: red;
  padding: 1rem 1rem;
}
.project__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 3rem 1rem;
}
.project__item--card {
  padding: 2rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
}
.project__item--card:hover {
  transform: translateY(-5px);
}
.project__item--title {
  font-family: os_reg;
  font-size: 1.8rem;
  color: var(--color-dark);
  text-transform: capitalize;
  padding-top: 15px;
}
.project__item--subtext {
  font-family: os_light;
  font-size: 1.6rem;
  color: var(--color-darkest);
  text-transform: capitalize;
}
.project__item--link {
  margin-top: 20px;
}

.certificate__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.certificate__heading {
  font-family: os_reg;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-light);
  padding: 2rem 1rem;
  letter-spacing: 0.3rem;
}
.certificate__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 1rem;
}
.certificate__item--cert p {
  font-family: os_reg;
  font-size: 1.6rem;
  color: var(--color-darkest);
  padding: 1rem 1rem;
}

.footer {
  background-color: var(--color-dark);
}
.footer__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 5rem;
}
.footer__container p {
  font-family: os_reg;
  font-size: 1.8rem;
  color: var(--color-white);
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
