@use "./base" as *;

.upper-bar {
    background-color: var(--color-dark);

    &-container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        align-items: center;
        padding: 2rem 1rem;

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        @media screen and (max-width: 400px) {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        @media screen and (max-width: 320px) {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }

    }

    &-link {
        display: inline-block;

        a {
            font-size: 22px;
            color: var(--color-white);
            transition: all .3s ease;
            margin-right: 30px;
            margin-bottom: 10px;
            padding: 5px 5px;

            &:hover {
                color: var(--color-grey);
            }

            @media screen and (max-width: 320px) {
                margin-right: 10px;
            }

            @media screen and (max-width: 400px) {
                margin-right: 15px;
            }

        }
    }

    &-extra {
        justify-self: end;

        a {
            font-size: 20px;
            color: var(--color-white);
            transition: all .3s ease;

            &:hover {
                color: var(--color-grey);
            }

            &:last-child {
                font-size: 2rem;
            }
        }
    }
}