@use "./base" as *;

.skill {

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 3rem 1rem;

        @media screen and (max-width: 810px) {
            margin-top: 5em;
        }
    }

    &__heading {
        font-family: $font-regular;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--color-light);
        padding: 1rem 0;
        letter-spacing: .3rem;

        @media screen and (max-width: 460px) {
            padding: 2rem 0;
        }
    }

    &__img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-template-rows: auto;
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }
}